html, body {
  overflow-x: hidden;
}
body {
  font-family: "Muli", Lato, Helvetica, Arial, sans-serif;
  color: #333333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Crete Round", Varela Round, Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}
p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.drop {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 20 2%;
}
.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}
@media (min-width: 320px) {
  .container {
    width:auto;
  }
  .one-half img {
    max-width: 70%;
    float: left;
  }
  .one-half ul {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
  .drop {
    width:21%;
  }
  header .hero img {
    display: block;
    margin: 3em auto 0;
    max-width: 90%;
  }
  header nav ul > li {
    list-style-type:armenian;
    font-size: 2vw;
    display: inline;
    margin: 0 4px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
  .drop {
    width: 21%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* HEADER */
header {
  color: #FFFFFF;
  background: #004D7F url("../images/hero_background.png") top center no-repeat;
  background: url("../images/hero_background.png") top center no-repeat, linear-gradient(-45deg, #009AFF 0%, #004D7F 100%);
}
header nav {
  padding:1em 0;
}
header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin:0;
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}
header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}
header nav ul > li.btn-outline:hover {
  background: #FFFFFF;
}
header nav ul > li > a {
  color: #FFFFFF;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color: #009AFF
}
header .hero {
  text-align: center;
  display: block;
  position: relative;
}
header .hero h1 {
  font-size: 48px;
  font-weight: normal;
  margin: 95px 0 0;
}
header .hero p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
  margin: 10px 0 40px;
}
header .hero img {
  display: block;
  margin: 3em auto 0;
}
/* BUTTONS */
.btn {
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 30px;
  background: #28AAFF;
  border: 2px solid #28AAFF;
  box-shadow: 0px 2px 0px 0px #33617F;
}
/* BENEFITS */
.benefits {
  text-align: center;
  display:block;
  position:relative;
}
.benefits ul {
  margin: 0 auto;
  padding:4em 0;
}
.benefits ul li {
  list-style-type: none;
  display: inline-block;
}
.benefits i {
  color:#33617F;
  font-size:60px;
  margin:0;
  vertical-align: middle;
}
.benefits h2 {
  color: #33617F;
}
/* PRICING */
.pricing {
  background: #004D7F url("../images/pricing_background.png") top center no-repeat;
  background: url("../images/pricing_background.png") top center no-repeat, linear-gradient(-45deg, #009AFF 0%, #004D7F 94%);
  background-size: cover;
  text-align: center;
  padding: 4em 0;
}
.pricing h2, .pricing p {
   color:#FFFFFF;
 }
 .pricing ul {
   margin:0 auto;
   padding:2em 0;
 }
 .pricing ul li {
   list-style-type: none;
 }
 .box {
   padding: 0 15px 15px;
   background: #FFFFFF;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 439px;
   position: relative;
   margin-top: 25px;
 }
 .box.middle {
   min-height: 485px;
   margin-top: 0px;
 }
 .box h3 {
   font-family: "Muli", Helvetica, Arial, sans-serif;
   font-weight: 600;
   text-transform: uppercase;
   background: #33617F;
   color: #FFFFFF;
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.40);
   left: 0;
   right: 0;
   top: 0;
   text-align: center;
   margin: 0 -15px 40px;
   padding: 10px 0;
 }
 .box h4 {
   font-size:50px;
   font-weight: normal;
   margin:40px 0 10px;
   color: #009AFF;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
 .box h4 span.month {
   font-family: "Muli", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#888888;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
 }
 .box .btn {
   position:absolute;
   bottom:20px;
   left:20px;
   right:20px;
 }
 .small {
   font-size: 12px;
   color: #FEFEFE;
   line-height: 15px;
   font-style:italic;
 }
 /* TESTIMONIALS */
.testimonials {
  padding:4em 0;
  text-align: center;
}
.testimonials h2 {
  color:#33617F;
}
.drop {
  margin: 20px 2%;
}
.testimonials ul li {
  list-style-type: none;
}
.testimonials blockquote {
  color:#FFFFFF;
  text-align: left;
  font-style: italic;
  background:#004D7F;
  border-radius: 4px;
  position: relative;
  padding:30px;
  width:auto;
  margin:0;
}
.testimonials blockquote:after {
  top: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #004D7F;
  border-width: 10px;
  margin-left: -10px;
}
.testimonials img {
  height: 65px;
  width: 65px;
  border-radius:50%;
  float: left;
  display: inline-block;
  margin:20px 10px 0 0;
}
.testimonials p.name {
  float: left;
  display: inline-block;
  text-align: left;
  font-size:12px;
  margin-top: 30px;
}

/* SIGN UP */
.signup {
  padding:4em 0;
  text-align: center;
  display: block;
  position: relative;
}
.signup p {
  margin: 10px 0 40px;
}
.signup {
  color: #FFFFFF;
  background: #004D7F url("../images/hero_background.png") top center no-repeat;
  background: url("../images/hero_background.png") top center no-repeat, linear-gradient(-45deg, #009AFF 0%, #004D7F 100%);
}

/* FOOTER */
footer {
  background-color: #004D7F;
  background-image: linear-gradient(to top, #009AFF 0%, #009AFF 50%, #004D7F 50%, #004D7F 100%);
  color: #FFFFFF;
  height: 150px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
footer p, footer nav ul {
  font-size:12px;
  font-weight:100;
  text-align: center;
  margin: 10px auto 0;
}
footer nav ul li {
  list-style-type: none;
  display: inline;
}
footer nav ul li a {
  color:#FFFFFF;
  text-decoration: none;
}
footer .right-footer-block {
  background-color: transparent;
}
footer .logo {
  padding: 2.35em 0;
  margin: 0 auto;
  display: block;
}
@media (min-width: 992px) {
  footer {
    background-color: #009AFF;
    background-image: linear-gradient(to left, #009AFF 0%, #009AFF 33.33337%, #004D7F 33.33337%, #004D7F 100%);
    height: 100px;
  }
  footer p, footer nav ul{
    padding: 2em 0;
    text-align: left;
  }
  footer .right-footer-block {
    background-color: #009AFF;
  }
  footer .logo{
    padding: 2em 0 2em 1.5em;
  }
}
